@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;

  --color-primary: #02185a;
  --color-secondary: #ff6119;
  --color-third: #f8f9fa;
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-third {
  background-color: var(--color-third);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.stripes-bg {
  background-image: repeating-linear-gradient(45deg,
      rgba(0, 0, 0, 0.08) 0px,
      rgba(0, 0, 0, 0.08) 2px,
      transparent 2px,
      transparent 8px);

  background-size: 192 192;
  background-repeat: repeat;

  animation: stripes 6s linear infinite;
}

@keyframes stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 192 0;
  }
}

.hover\:text-secondary:hover {
  color: var(--color-secondary);
}

.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}