@import 'tailwindcss';

@theme inline {
  --color-primary: #024880;
  --color-primary-hover: #023a6b;
  --color-secondary: #abc42b;
  --color-third: #fafafa;

  --color-background: #ffffff;
  --color-text: #333333;

  --font-popins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

@layer base {
  button {
    @apply transition duration-300 ease-in-out cursor-pointer;
  }
}

.stripes-bg {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.08) 0px,
    rgba(0, 0, 0, 0.08) 2px,
    transparent 2px,
    transparent 8px
  );

  background-size: 192 192;
  background-repeat: repeat;

  animation: stripes 6s linear infinite;
}

@keyframes stripes {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 192 0;
  }
}

.hover\:text-secondary:hover {
  color: var(--color-secondary);
}

.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}

.group:hover .group-hover\:bg-primary {
  background-color: var(--color-primary);
}

.group:hover .group-hover\:text-primary {
  color: var(--color-primary);
}

.stroke-text {
  color: transparent;
  -webkit-text-stroke: 1px #e2e2e2;
}
